.basketButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.circle {
  position: absolute;
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  top: 30px;
  right: 10px;
}