.card {
  padding: 8px;
  border: 1px solid white;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.image {
  flex-basis: 100px;
  img {
    width: 100%;
  }
}

.text {
  p {
    line-height: 1.2;
  }
}

